{
  "identifier" : "BA91B5E3-0001-4F9C-8D70-1A2B3C4D5E6F",
  "nonRenewingSubscriptions" : [],
  "products" : [
    {
      "displayPrice" : "{{PRICE}}",
      "familyShareable" : false,
      "internalID" : "LocalTestProduct",
      "localizations" : [
        {
          "description" : "{{IAP_DESCRIPTION}}",
          "displayName" : "{{FEATURE_DISPLAY}}",
          "locale" : "en_US"
        }
      ],
      "productID" : "{{IAP_PRODUCT_ID}}",
      "referenceName" : "{{FEATURE_DISPLAY}}",
      "type" : "NonConsumable"
    }
  ],
  "settings" : {
    "_applicationInternalID" : "0",
    "_developerTeamID" : "{{TEAM_ID}}",
    "_failTransactionsEnabled" : false,
    "_locale" : "en_US",
    "_storefront" : "USA",
    "_storeKitErrors" : []
  },
  "subscriptionGroups" : [],
  "version" : {
    "major" : 3,
    "minor" : 0
  }
}
